* {
    background-color: lightblue;
}

body {
    height: 100%;
}

/* Intro div to hide on click */
.intro {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.7s linear;
}

.intro.hide {
    opacity: 0;
}

/* Main page styling */

img {
    background: transparent;
    background-color: transparent;
    width: 200px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: dotted black 2px;
}